
@font-face {
  font-family: 'outfit';
  src: url('../../dist/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'cera__black__regular';
  src: url('../../dist/fonts/cera__round/CeraRoundProBlackRegular.woff') format('woff');
}
@font-face {
  font-family: 'cera__light__regular';
  src: url('../../dist/fonts/cera__round/CeraRoundProLightRegular.woff') format('woff');
}
@font-face {
  font-family: 'cera__regular';
  src: url('../../dist/fonts/cera__round/CeraRoundProRegular.woff') format('woff');
}
