
@font-face {
  font-family: 'outfit';
  src: url('../../assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'smooch sans';
  src: url('../../assets/fonts/SmoochSans-VariableFont_wght.ttf') format('truetype');
}
