@use '../util/variables' as *;
@use '../util/mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  interpolate-size: allow-keywords;
  color: var(--text);
  background: var(--bg);
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
  font-family: 'outfit';
}

main {
  padding: 0 !important;
  margin-top: 100px;
}

.loader {
  background: var(--header-bg);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  &.active {
    @include df(center, center);
  }
  
  &__content {
    @include df(normal, center, column, 10px);
    @for $i from 1 through 2 {
      .row-1 {
        font-family: 'bilbo swash caps','brush script mt', 'lucida handwriting', 'comic sans ms';
        @include df(center, center, row, 5px);
        span {
          text-transform: uppercase;
          background: var(--bg);
          border-radius: 5px;
          width: 25px;
          height: 25px;
          transition: all .3s;
          animation: loader__text 2s ease-in-out infinite;
          @include df(center, center);
          @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
              animation-delay: #{'.'}#{$i}s;
            }
          }
        }
      }
    }
    .row__divider {
      width: 250px;
      height: 4px;
      position: relative;
      &__content {
        position: absolute;
        border: 1px solid orange;
        width: 50%;
        background: orange;
        right: 0%;
        transition: all .3s;
        animation: loader__text 3s linear infinite;
      }
    }
  }
}

@keyframes loader__text {
  0% {padding: 10px;}
  50% {padding: 20px; }
  100% {padding: 10px;}
}