
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background: var(--bg);
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
  font-family: 'outfit';
}

main {
  padding: 0 !important;
  margin-top: 100px;
}