
@use '../util/' as *;

#cart {
  text-align: left;
  width: 100%;
  // border: 1px solid;
  background-color: var(--cream);
  padding: clamp(20px, 5dvw, 40px);
  
  .cart-item {
    position: relative;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(var(--cream), 0.2);
    color: var(--text);
    transition: opacity 0.3s ease;
    &:not(:last-of-type) {
      border-bottom: 1px solid;
    }

    &.fade-out {
      opacity: 0;
    }

    @include display-flex(flex-start, start, row nowrap, 1rem);

    .cart-image {
      width: 80px;
      height: 80px;
      border: 1px solid var(--text);
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cart-details {
      margin-right: 40px;
      flex-grow: 1;

      h4 {
        margin: 0;
        font-size: 1.1rem;
        color: var(--text);
      }

      p {
        margin: 4px 0;
        color: var(--text);
        font-size: 0.95rem;
        &:last-of-type {
          font-family: 'smooch sans';
          font-weight: bold;
          font-size: 20px;
        }
      }
    }

    .remove-item {
      position: absolute;
      top: 20px;
      right: 20px;
      background: var(--cream);
      color: var(--text);
      border: 1px solid;
      font-size: 20px;
      line-height: 1;
      padding: 4px 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background: var(--header-bg);
        color: var(--cream);
        border: 1px solid var(--cream);
      }
    }
  }

}

.toast {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #059c3f;
  color: var(--bg);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'outfit', sans-serif;
  box-shadow: 0 4px 10px rgba(var(--cream), 0.2);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 1rem;

  &.show {
    top: 20px;
    opacity: 1;
  }

  #undo-button {
    background-color: var(--bg);
    color: var(--input-focus-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: rgba(#0f0d0d, .1);
    }
  }
}

.wholeCart {
  text-align: center;
  min-height: 100dvh;
  padding: 20px var(--side-padding);
  @include df(normal, start, column, 25px);
  h1 {
    padding: 0;
  }
  h2 {
    border: 1px solid;
    width: auto;
    @include h2(var(--text), var(--cream))
  }
  &__clearBtn {
    @include button();
  }
  &__placeBtn {
    @include button(var(--text), var(--cream));
  }
  .empty__cart {
    text-align: center;
    @include df(center, center, column, 20px);
    a {
      transition: all .3s;
    }
    a:first-of-type {
      height: clamp(100px, 10dvw, 200px);
      width: clamp(100px, 10dvw, 200px);
      border: 1px solid;
      border-radius: 50%;
      color: var(--text);
      @include df(center, center);
      i {
        font-size: clamp(50px, 5dvw, 100px);
      }
      &:hover {
        background: rgba(#ccc,.1);
      }
    }
    a:last-of-type {
      @include button(var(--text), var(--bg));
    }
  }
  @media (min-width: $tab) {
    align-items: center;
    >* {
      width: 100%;
      max-width: 500px;
    }
    h2 {
      width: 100%;
      max-width: 500px;
    }
  }
}
