
@use '../util/' as *;

#cart {
  padding: 10px;
  border: 4px solid #fff;
  
  h3 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid var(--text);
    padding-bottom: 10px;
  }

  .cart-item {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bg);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(var(--cream), 0.2);
    color: var(--text);
    transition: opacity 0.3s ease;

    &.fade-out {
      opacity: 0;
    }

    @include display-flex(flex-start, center, row nowrap, 1rem);

    .cart-image {
      width: 80px;
      height: 80px;
      border: 1px solid var(--text);
      background-size: cover;
      background-position: center;
      border-radius: 6px;
    }

    .cart-details {
      flex-grow: 1;

      h4 {
        margin: 0;
        font-size: 1.1rem;
        color: var(--cream);
      }

      p {
        margin: 4px 0;
        color: var(--text);
        font-size: 0.95rem;
      }
    }

    .remove-item {
      position: absolute;
      top: 10px;
      right: 10px;
      background: var(--cream);
      color: var(--header-bg);
      border: none;
      font-size: 1.2rem;
      line-height: 1;
      padding: 4px 10px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background: var(--header-bg);
        color: var(--cream);
        border: 1px solid var(--cream);
      }
    }
  }

}

#clear-cart {
  display: inline-block;
  background: var(--cream);
  color: var(--header-bg);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:hover {
    background: var(--header-bg);
    color: var(--cream);
    border: 1px solid var(--cream);
  }
}

.toast {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--header-bg);
  color: var(--text);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'outfit', sans-serif;
  box-shadow: 0 4px 10px rgba(var(--cream), 0.2);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 1rem;

  &.show {
    top: 20px;
    opacity: 1;
  }

  #undo-button {
    background-color: var(--bg);
    color: var(--input-focus-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: rgba(#0f0d0d, .1);
    }
  }
}
