@use '../util/' as *;

.findUs {
  min-height: 100dvh;
  padding: 30px var(--side-padding);
  @include df(normal, center, column, 30px);
  @media (min-width: $tab) {
    @include df(normal, center, row, 30px);
    //Trov for innvestment business.
  }
  >* {
    flex: 1;
  }
  &__img {
    img {
      width: 100%;
      display: block;
    }
  }
  &__content {
    @include df(normal, start, column, 20px);
    h2 {
      @include h2(var(--text), var(--cream));
    }
    &__links {
      @include df(normal,start, row wrap, 20px);
      a {
        @include button(var(--text), var(--bg));
      }
    }
  }
}

.faqs {
  padding: 30px var(--side-padding);
  @include df(normal, normal, column, 0);
  &__content {
    @include df(normal, center, column, 20px);
    h2 {
      @include h2(var(--text), var(--cream));
    }
    details {
      width: 100%;
      @include df(normal, normal, column, 10px);
      summary {
        list-style: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #ccc;
        padding-bottom: 10px;
        @include df(space-between, center, row, 10px);
        &::after {
          content: '+';
          font-size: 20px;
          background: var(--cream);
          height: 25px;
          width: 25px;
          line-height: 1;
          border: 1px solid var(--text);
          @include df(center, center);
        }
      }
      &[open] {
        summary {
          &::after {
            content:'-';
          }
        }
      }
    }
  }
}