@use '../util/' as *;

footer {
  background-color: var(--header-nav-bg);
  color: var(--header-text);
  padding: 100px var(--side-padding) 100px var(--side-padding);
  width: 100%;
  position: relative;
  z-index: 11;
  @include display-flex(space-between, center, row, 20px);

  .credentials {
    @include df(normal, normal, column, 25px);
    ul {
      li {
        list-style: none;
      }
      &:first-of-type {
        @include df(normal, normal, row, 20px);
      }
      &:last-of-type {
        @include df(normal,normal, row, 20px);
        li {
          width: 40px;
          height: 40px;
          a {
            border: 1px solid;
            color: inherit;
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            border-radius: 50%;
            @include df(center, center);
            &:hover {
              background-color: rgba(#ccc,.3);
            }
          }
        }
      }
    }
  }

  .copy {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    color: rgba(#ccc,.3);
    border-top: 1px solid;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
  }

  .toggle-theme {
    background: var(--header-nav-bg);
    font-size: .8rem;
    
    label {
      display: inline-block;
      background: var(--header-nav-bg);
      color: var(--header-text);
      text-decoration: none;
      border-radius: 50%;
      transition: all 0.3s;
      border: 2px solid;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      @include df(center, center);
      i {
        font-size: 30px;
      }
      &:hover {
        background: rgba(#ccc,.3);
      }
    }
    #theme-checkbox:checked ~ label{
      background: var(--header-nav-bg);
      color: var(--header-text);
      transform: rotate(180deg);
    }

    #theme-checkbox {
      display: none;
    }
  }
}