@use '../util/' as *;

main {
  padding: 150px 0;

  h1, h2 {
    padding: 0px 10%;
  }
  .available-grid {
    padding: 30px 10%;

    .wrapper {
      @include display-flex(none, none, row, 20px);
      overflow-x: scroll;
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      
      .slot {
        min-width: 250px;
        @include display-flex(left, none, column, 10px);

        .slot-image {
          width: 100%;
          height: 300px;
          border-radius: 20px;
          background: rgba(#fff, .3);
          overflow: hidden;

          img {
            display: block;
            object-fit: cover;
            height: 100%;
            border-radius: inherit;
          }
        }
        
        .slot-id {
          @include display-flex(space-between, center, row wrap, 10px);

          .slot-pieces {
            font-size: .9rem;
          }
        }

        .slot-costs {
          @include display-flex(space-between, center, row, 10px);

          .slot-price {
            font-weight: bold;
            font-size: 1.2rem;
          }

          .get-slot {
            background: var(--cream);
            color: var(--header-bg);
            padding: 2px 20px;
            text-decoration: none;
            font-size: 16px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            transition: all 0.3s;
            border: 1px solid transparent;

            &:hover {
              background: var(--header-bg);
              color: var(--cream);
              border: 1px solid var(--cream);
            }
          }
        }
      }
    }
  }
}

.success-message {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--header-bg);
  color: var(--bg);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'outfit', sans-serif;
  box-shadow: 0 4px 10px rgba(var(--cream), 0.2);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 9999;

  &.show {
    top: 150px;
    opacity: 1;
  }
}

.modal {
  overflow-y: scroll;
  // background: red;
  position: fixed;
  padding: 150px 0;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  &.active {
    @include df(center, center);
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &__overlay {
    display: none;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#ccc,.5);
  }
  &__content {
    position: relative;
    width: 100%;
    max-width: 500px;
    background: var(--cream);
    padding: 40px;
    @include df(normal, start, column, 20px);
    img {
      display: block;
      width: 100%;
    }
    &__closebtn {
      align-self: flex-end;
      background: var(--cream);
      height: 30px;
      width: 30px;
      border: 1px solid var(--text);
      color: var(--text);
      border-radius: 0;
      font-size: 20px;
    }
    &__gallery {
      width: 100%;
      @include df(normal, normal, column, 15px);
      &__carousel {
        border: 2px solid var(--text);
        width: 100%;
        border: 20px;
        // height: 400px;
        margin-bottom: 20px;
        overflow-x: scroll;
        anchor-name: --modal;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        @include df(normal, normal, row);
        &::-webkit-scrollbar {
          display: none;
        }
        &::scroll-button(right),&::scroll-button(left) {
          content: '←';
          font-weight: 700;
          font: inherit;
          border: 1px solid;
          height: 50px;
          width: 50px;
          position: fixed;
          position-anchor: --modal;
          position-area: left center;
          transform: translateX(50%);
        }
        &::scroll-button(right) {
          content:'→';
          position-area: right center;
          transform: translateX(-50%);
        }
        img {
          scroll-snap-align: start;
          object-fit: cover;
          max-height: 380px;
        }
      }
      &__caption {
        @include df(normal, start, row, 20px);
        img {
          height: 50px;
          width: 50px;
          object-fit: cover;
        }
        &__text {
          h3 {
            font-weight: 600;
            font-size: 18px;
          }
          #modal__pieces {
            font-size: 14px;
          }
          #modal__price {
            font-family: 'smooch sans';
            font-weight: bold;
          }
        }
      }
    }
    &__cartbtn {
      width: 100%;
      position: relative;
      @include df(normal, center);
      &::before {
        content:'';
        width: 100%;
        position: absolute;
        height: 1px;
        background: var(--text);
      }
      button {
        margin: 0 auto;
        font: inherit;
        position: relative;
        @include df(center, center, row, 10px);
        @include button(var(--text), var(--cream));
        & {
          font-size: 15px;
          border-radius: 50px;
          padding: 5px 20px;
        }
        @media (min-width: $mobile) {
          margin: 0 0 0 auto;
        }
      }
    }
    &__des {
      @include df(normal, normal, column, 10px);
      ul {
        padding: 0 0 0 20px;
        font-size: 15px;
      }
    }
    &__contact {
      @include df(normal, start, column, 15px);
      a {
        @include df(normal, center, row, 10px);
        @include button(var(--text), var(--cream));
        & {
          font-size: 15px;
        }
      }
    }
  }
}

.search {
  position: relative;
  padding: 50px var(--side-padding) 20px var(--side-padding);
  @include df(normal, normal, column, 25px);
  @mixin max_box {
    align-self: center;
    max-width: 500px;
  }
  &.normal {
    .search__grid {
      display: none;
    }
  }
  &.active {
    height: 100dvh;
  }
  &.none {
    .search__grid {
      display: none;
    }
    .search__empty {
      width: 100%;
      padding: 50px;
      color: #757575;
      @include df(center, center, column, 10px);
      @include max_box;
      i {
        padding: 20px;
        border: 2px solid;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        font-size: 50px;
        background: rgba(#ccc,.2);
        @include df(center, center);
      }
    }
  }
  .search__empty {
    display: none;
  }
  &__box {
    // position: sticky;
    // top: 50px;
    border: 2px solid #ccc;
    border-radius: 50px;
    width: 100%;
    overflow: hidden;
    transition: all .3s;
    @include df;
    @include max_box;
    // @include input;
    &__input {
      text-transform: capitalize;
      font: inherit;
      font-weight: bold;
      height: 100%;
      padding: 10px 20px;
      width: 100%;
      border: none;
      outline: none;
      background: transparent;
      color: var(--text);
      transition: all .3s;
    }
    button {
      border: none;
      background: none;
      border-left: 1px solid;
      font-size: 1.5rem;
      padding: 0 20px;
      color: #ccc;
      cursor: pointer;
      transition: all .3s;
    }
    &:focus-within {
      border-color: green;
      button {
        color: green;
      }
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 15px;
    .slot {
      background: var(--cream);
      padding: 20px;
      width: 100%;
      @include df(normal, start, row, 20px);
      &-image {
        width: 100px;
        min-width: 100px;
        height: auto;
        align-self: start;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      &__des {
        @include df(normal, normal, column, 10px);
        .slot-id {
          font-size: 1rem !important;
          .slot-name {
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .slot-costs {
          width: 100%;
          @include df(normal, center, row, 10px);
          .slot-price {
            font-family: monospace;
            font-weight: bold;
          }
          .get-slot {
            @include button;
            & {
              font-family: inherit;
              border: 2px solid;
              border-radius: 50px;
              font-size: 15px;
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }
}

