@use '../util/' as *;

main {
  padding: 150px 0;

  h1, h2 {
    padding: 0px 10%;
  }
  .available-grid {
    padding: 30px 10%;

    .wrapper {
      @include display-flex(none, none, row, 20px);
      overflow-x: scroll;
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      
      .slot {
        min-width: 250px;
        @include display-flex(left, none, column, 10px);

        .slot-image {
          width: 100%;
          height: 300px;
          border-radius: 20px;
          background: rgba(#fff, .3);
          overflow: hidden;

          img {
            display: block;
            object-fit: cover;
            height: 100%;
            border-radius: inherit;
          }
        }
        
        .slot-id {
          @include display-flex(space-between, center, row wrap, 10px);

          .slot-pieces {
            font-size: .9rem;
          }
        }

        .slot-costs {
          @include display-flex(space-between, center, row, 10px);

          .slot-price {
            font-weight: bold;
            font-size: 1.2rem;
          }

          .get-slot {
            background: var(--cream);
            color: var(--header-bg);
            padding: 2px 20px;
            text-decoration: none;
            font-size: 16px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            transition: all 0.3s;
            border: 1px solid transparent;

            &:hover {
              background: var(--header-bg);
              color: var(--cream);
              border: 1px solid var(--cream);
            }
          }
        }
      }
    }
  }
}

.success-message {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--header-bg);
  color: var(--bg);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'outfit', sans-serif;
  box-shadow: 0 4px 10px rgba(var(--cream), 0.2);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 9999;

  &.show {
    top: 150px;
    opacity: 1;
  }
}


